<div class="row">
    <div class="col-md-2">
        &nbsp;
    </div>
    <div class="col-md-4">
        <h2>Login</h2>
        <p class="text-primary">If you have Username and Password, you can use the button bellow to access the login page.</p>
        <p><a class="btn btn-info" href="#/login">Login &raquo;</a></p>
    </div><!--md4 levo -->
    <div class="col-md-4">
        <h2>Sign Up</h2>
        <p class="text-primary">Use the button bellow to create Username and Password to access the secured sign up.</p>
        <p><a class="btn btn-info" href="#/signup">Sign Up &raquo;</a></p>
    </div><!--md4 desno-->
    <div class="col-md-2">
        &nbsp;
    </div>

</div><!--row-->